@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.productSlider {
    width: calc(100% - 100px);
    margin: 0 auto; 
    padding: 1em 0 0;
}

.imgSlider__img {
    width: 100%;
    min-height: 300px;
}

.productSlider__title {
    margin: 10px 0;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}